@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.bg-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-rose-900 rounded-xl;
}

.task > ::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-xl;
}

.home{
  background: rgb(55,56,255);
background: linear-gradient(90deg, rgba(55,56,255,1) 0%, rgba(6,153,255,1) 50%, rgba(55,56,255,1) 100%);
}